.popup {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: 0.5s linear;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 4;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  background-color: #FFF;
  border-radius: 10px;
  padding: 0 36px 36px;
  box-sizing: border-box;
  border: 1px solid #000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__button_close:hover {
  opacity: 0.6;
}

.popup__title {
  width: 396px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 40px 0 40px;
  padding: 0;
  z-index: 1;
  color: #000;
  box-sizing: border-box;
}

.popup__form {
  position: relative;
  color: #000;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.popup__image {
  width: 145px;
  height: 205px;
  object-fit: cover;
  background-repeat: no-repeat;
  margin: 0 auto 0;
}

.popup__form-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.popup__button {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #202020;
  color: #FFF;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border: none;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_close {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  background-image: url("../../images/close-icon.svg");
  background-position: 50% 50%;
  background-size: 100%;
  z-index: 1;
  transform: translate(76px, -40px);
  align-self: flex-end;
}

.popup__button_save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 45px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border-radius: 3px;
  margin: 60px 0 16px;
  padding: 0;
  background: #4285F4;
}

.popup__button_inactive {
  color: #C2C2C2;
  background-color: #313131;
  cursor: default;
  pointer-events: none;
}

.popup__field {
  display: flex;
  flex-direction: column;
  width: 396px;
  min-height: 27px;
  padding: 0 0 24px;
  box-sizing: border-box;
}

.popup__input-text {
  width: 390px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #8B8B8B;
  padding: 0;
  margin: 0 0 5px;
}

.popup__input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #FFF;
  padding: 7px;
  box-sizing: border-box;
  margin: 0 0 5px;
  outline: none;
}

.popup__input:last-child {
  margin: 0;
}

.popup__input_entry {
  background-color: #202020;
  color: #FFF;
  border-bottom: 1px solid #424242;
}

.popup__input:focus {
  border-bottom: 1px solid #4285F4;
}

.popup__input-error {
  max-width: 360px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #EE3465;
  opacity: 0;
}

.popup__input-error_active {
  display: inline-block;
  min-height: 24px;
  opacity: 1;
}

.popup__input_error:focus {
  border-bottom: 1px solid #424242;
}

.popup__link {
  color:#4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
}

.popup__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.popup__error {
  max-width: 390px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #EE3465;
  opacity: 0;
}

.popup__error_active {
  display: inline-block;
  min-height: 24px;
  opacity: 1;
  transform: translate(0, -86px);
}

.popup_card-new {
  display: block;
  position: relative;
  width: calc(100% - 2*70px);
  margin: 0 70px 0;
}

.popup__list-example {
  z-index: 5;
  opacity: 2;
}

.popup__container_image-dropdown {
  display: flex;
  flex-direction: column;
  padding: 36px 36px;
}

.popup__list {
  display: grid;
  grid-template-columns: repeat(5, 145px);
  grid-template-rows: auto;
  gap: 10px 10px;
  padding: 0;
  box-sizing: border-box;
}

.popup-span-group {
  display: flex;
  justify-content: space-between;
}

.popup__field_image-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

.popup__input_type_image-dropdown {
  width: 20px;
  height: 20px;
}

.popup__button_image-dropdown {
  max-width: 400px;
  padding: 30px;
  margin: 30px auto 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #4285F4;
}

.popup__button_close_image-dropdown {
  transform: translate(75px, -70px);
}

.popup__container_card-new {
  position: relative;
  background-color: #202020;
  border: none;
}

.popup__container_book-edit {
  position: relative;
  box-shadow: none;
}

.popup__title_card-new {
  max-width: 400px;
  text-align: center;
  color: #FFF;
  margin: 30px auto 60px;
}

.popup__title_book-edit {
  max-width: 500px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #073042;
  margin: 30px auto 60px;
}

.popup__field_card-new {
  display: flex;
  flex-wrap: nowrap;
  width: 410px;
  min-height: 42px;
  margin: 0 0 17px;
  padding: 0;
}

.popup__field_book-edit {
  display: flex;
  flex-wrap: nowrap;
  width: 420px;
  min-height: 42px;
  margin: 0 0 18px;
  padding: 0;
  
}

.popup__data-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 26px;
}

.popup__input_card-new {
  background-color: #202020;
  border-bottom: none;
  font-size: 11px;
  line-height: 1.18;
  color: #FFF;
  padding: 0;
  text-align: end;
}

.popup__input_type_card-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 17px);
}

.popup__button_image-new {
  width: 22px;
  height: 22px;
  background-color: white;
  background-image: url("../../images/drop-down-menu.svg");
  justify-content: center;
  background-position: 50% 50%;
  background-size: 100%;
  border-radius: 0;
  margin: 0;
}

.popup__button_image-new_add {
  transform: translate(-16px, -32px);
}

.popup__button_image-new_edit { 
  transform: translate(-5px, -35px);
}

.popup__input_error {
  color: #EE3465;
}

.popup__data-input_error {
  padding: 0;
}

.popup__data-input_error:last-child {
  padding: 0 0 26px;
}

.popup__field_error {
  padding: 0;
}

@media (max-width: 1100px) {
  .popup_card-new {
    width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }
}

@media (max-width: 850px) {
  .popup__list {
    grid-template-columns: repeat(4, 145px);
  }

  .popup__button_close_image-dropdown {
    transform: translate(45px, -90px);
  }

  .popup_card-new {
    width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }
}

@media (max-width: 600px) {
  .popup__container_book-edit {
    padding: 15px;
  }

  .popup__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 320px;
    justify-content: center;
  }

  .popup__list-element {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .popup__title {
    width: 260px;
    margin: 0 0 40px;
  }

  .popup__button_close {
    width: 30px;
    height: 30px;
    transform: translate(-5px, -70px);
  }

  .popup__button_save {
    width: 250px;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 500;
    border-radius: 3px;
    margin: 30px;
  }

  .popup__button_image-new {
    width: 27px;
    height: 27px;
  }

  .popup__input_type_image-dropdown {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    transform: translate(-5px, -40px);
  }

  .popup__button_close_image-dropdown {
    transform: translate(20px, -90px);
  }

  .popup__field {
    width: 260px;
  }

  .popup__input-text {
    width: 260px;
  }

  .popup__input-error {
    max-width: 260px;
  }

  .popup__error {
    max-width: 260px;    
  }

  .popup__link {
    font-size: 12px;
    line-height: 1.25;
  }

  .popup_card-new {
    width: calc(100% - 2*10px);
    margin: 0 10px 0;
  }

  .popup__title_card-new {
    max-width: 260px;
    margin: 70px auto 80px;
  }

  .popup__input_card-new {
    width: 120px;
  }

  .popup__button_card-new {
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 1.25;
    margin: 347px auto 16px;
  }

  .popup__button_card-new_show {
    margin: 347px auto 40px;
  }
}