.elements {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #272727;
  padding: 0 60px;
  box-sizing: border-box;
}

.elements__title {
  max-width: 730px;
  font-size: 80px;
  margin: 60px auto;
  text-align: center;
  padding: 0;
  line-height: 1.23;
  font-weight: 500;
}

.elements__subtitle {
  max-width: 370px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  line-height: 1.18;
  font-weight: 400;
}

.elements__container {
  max-width: calc(100% - 2*20px);
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: auto;
  gap: 38px 10px;
  box-sizing: border-box;
}

.elements__container-info {
  display: none;
}

.elements__container-info_active {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.elements__text {
  color: #1E90FF;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.11;
  margin: 0 auto 0;
  padding: 0 70px 0;
  border: 1px solid #1E90FF;
}

.elements-adding {
  display: flex;
  justify-content: center;
  max-width: calc(100% - 2*70px);
  margin: 0 70px 0;
}

@media (max-width: 1100px) {
  .elements__container {
    max-width: 100%;
    grid-template-columns: repeat(3, 270px);
    padding: 0;
    margin: 0;
    gap: 30px 30px;
  }

  .elements-adding {
    max-width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }
}

@media (max-width: 850px) {
  .elements__container {
    justify-content: center;
    grid-template-columns: repeat(2, 270px);
    margin: 70px 30px 10px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .elements {
    padding: 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .elements__container {
    max-width: 320px;
    grid-template-columns: 270px;
    row-gap: 34px;
    margin: 39px auto 10px;
    padding: 0;
  }

  .elements__title {
    max-width: 320px;
    font-size: 50px;
  }

  .elements__subtitle {
    max-width: 320px;
    font-size: 16px;
    margin: 0 auto 10px;
  }

  .elements-adding {
    max-width: 100%;
    margin: 0;
  }

  .elements-adding__button {
    width: 240px;
    padding: 11px 20px 9px 20px;
  }
}