.header {
  display: flex;
  padding: 20px 0 20px 60px;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;
}

.header_type_main {
  background-color: #073042;
}

.header__link {
  width: 38px;
  height: 38px;
  text-decoration: none;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__link_transition {
  color: aqua;
}

.header__logo {
  height: 137px;
  width: 310px;
  position: absolute;
  border-radius: 7% 7%;
  top: 30px;
  left: 0;
  z-index: 3;
}

.header__title {
  width: 730px;
  font-size: 102px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  line-height: 1.23;
  position: static;
  z-index: 3;
}

.header__subtitle {
  max-width: 388px;
  min-height: 25px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  right: 544px;
  bottom: 30px;
  align-self: flex-end;
  justify-items: flex-end;
  position: absolute;
  z-index: 3;
}

.header__main-illustration {
  width: 965px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  align-self: flex-end;
  background-size: cover;
  z-index: 1;
  background-image: url("../../images/header_space.jpg");
}

.header__picture-animated {
  width: 219px;
  height: 476px;
  background-image: url("../../images/header_books.jpg");
  background-size: 100%;
  top: 15px;
  right: 15px;
  position: absolute;
  align-self: flex-end;
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 2;
  opacity: 1;
}

.fadeinout {
  animation: fadeinout 1s linear backwards;
}

@keyframes fadeinout {
  0% { opacity: 0 }
  60%, 100% { opacity: 1 }
}

@media (max-width: 1100px) {
  .header__subtitle {
    right: 244px;
  }

  .header__main-illustration {
    width: 700px;
  }

  .header__picture-animated {
    right: 125px;
  }
}

@media (max-width: 850px) {
  .header {
    justify-content: center;
    padding: 15px 4px 30px;
  }

  .header__logo {
    left: 4px;
    top: 120px
  }

  .header__title {
    font-size: 70px;
    width: 500px;
  }

  .header__subtitle {
    font-size: 16px;
    right: 54px;
  }

  .header__picture-animated {
    height: 380px;
    right: 10px;
  }

  .header__main-illustration {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0;
    max-width: 320px;
    margin: 0 auto;
  }

  .header__logo {
    max-width: 320px;
    height: 25%;
    top: 0;
    left: 0;
  }

  .header__title {
    font-size: 50px;
    max-width: 320px;
    font-weight: 500;
  }

  .header__picture-animated {
    height: 400px;
    width: 150px;
    top: 215px;
    right: 0;
  }

  .header__main-illustration {
    width: 100%;
    height: 73%;
  }
}